# Editor meta-data
.idea/
.vscode/

# dep graph files
dependency_graph.dot
dependency_graph.svg

# Misc cache files
*.tmp
.tmp

# Do not track binary archives
*.deb
*.gz
*.jar
*.log
*.rpm
*.tar
*.zip

# OSX and Windows folder configs
.DS_Store
Thumbs.db

# Toolchain specific
libs/kics

# Log files
*.log

# Workspace tmp files
SCRATCH.md

# Tool management installer
aqua-installer
