airspeed-ext==0.6.6
amazon_kclpy==2.1.5
amazon.ion==0.9.3
annotated-types==0.7.0
antlr4-python3-runtime==4.13.2
apispec==6.7.1
asn1crypto==1.5.1
attrs==24.2.0
avro==1.12.0
aws-encryption-sdk==3.3.0
aws-sam-translator==1.91.0
aws-xray-sdk==2.14.0
awscli==1.35.0
awscrt==0.23.0
boto3==1.35.34
botocore==1.35.34
build==1.2.2.post1
cachetools==5.5.0
cbor2==5.6.5
certifi==2024.8.30
cffi==1.17.1
cfn-lint==1.18.4
chardet==5.2.0
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
confluent-kafka==2.6.0
constantly==23.10.4
cramjam==2.9.0
crontab==1.0.1
cryptography==42.0.8
Cython==3.0.11
decorator==5.1.1
dill==0.3.6
dirtyjson==1.0.8
distro==1.9.0
dnf==4.21.1
dnslib==0.9.25
dnspython==2.7.0
docker-registry-client==0.5.2
docker==7.1.0
docutils==0.16
dulwich==0.22.4
durationpy==0.9
ecdsa==0.13.3
envs==1.4
Events==0.5
fb-re2==1.0.7
future==1.0.0
google-auth==2.35.0
graphql-core==3.2.5
h11==0.14.0
h2==4.1.0
hpack==4.0.0
Hypercorn==0.17.3
hyperframe==6.0.1
hyperlink==21.0.0
idna==3.10
incremental==24.7.2
ionhash==1.2.1
isodate==0.7.2
janus==1.1.0
Jinja2==3.1.4
jmespath==1.0.1
joserfc==1.0.0
JPype1==1.5.0
Js2Py==0.74
json5==0.9.25
jsondiff==2.2.1
jsonpatch==1.33
jsonpath-ng==1.7.0
jsonpath-rw==1.4.0
jsonpointer==3.0.0
jsonschema-path==0.3.3
jsonschema-specifications==2023.12.1
jsonschema==4.23.0
jws==0.1.3
kafka-python==2.0.2
kubernetes==31.0.0
lazy-object-proxy==1.10.0
libcomps==0.1.20
libdnf==0.73.3
libvirt-python==10.2.0
localstack-core==3.8.1
localstack-ext==3.8.1
localstack-twisted==24.3.0
localstack==3.8.1
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
mercurial==6.7.4
more-itertools==10.5.0
moto-ext==5.0.15.post4
mpmath==1.3.0
multipart==1.1.0
mysql-replication==1.0.9
networkx==3.4.2
oauthlib==3.2.2
openapi-core==0.19.4
openapi-schema-validator==0.6.2
openapi-spec-validator==0.7.1
opensearch-py==2.7.1
packaging==24.1
paho-mqtt==2.1.0
parquet==1.3.1
parse==1.20.2
pathable==0.4.3
pg8000==1.31.2
plux==1.12.1
ply==3.11
postgres==4.0
postgresql-proxy==0.2.1
pproxy-ext==2.7.9
presto-python-client==0.8.4
priority==1.3.0
psutil==6.1.0
psycopg2-binary==2.9.10
psycopg2-pool==1.2
pure-sasl==0.6.2
py-partiql-parser==0.5.6
pyaes==1.6.1
pyasn1_modules==0.4.1
pyasn1==0.6.1
pyasynchat==1.0.4
pyasyncore==1.0.4
pycdlib==1.14.0
pycparser==2.22
pydantic_core==2.23.4
pydantic==2.9.2
pyftpdlib==2.0.1
Pygments==2.18.0
PyHive==0.7.0
pyion2json==0.0.2
pyjsparser==2.7.1
PyJWT==2.9.0
pymongo==4.10.1
PyMySQL==1.1.1
pyOpenSSL==24.2.1
pyotp==2.9.0
pyparsing==3.2.0
pyproject_hooks==1.2.0
pyqldb==3.2.4
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-jose==3.3.0
python-snappy==0.7.3
PyYAML==6.0.2
readerwriterlock==1.0.9
redis==5.2.0
referencing==0.35.1
regex==2024.9.11
requests-aws4auth==1.3.1
requests-oauthlib==2.0.0
requests==2.32.3
responses==0.25.3
rfc3339-validator==0.1.4
rich==13.9.4
rolo==0.7.3
rpds-py==0.20.1
rpm==4.19.1.1
rsa==4.7.2
s3transfer==0.10.3
scramp==1.4.5
semver==3.0.2
setuptools==75.3.0
six==1.16.0
sql_metadata==2.14.0
sqlglot==25.29.0
sqlglotrs==0.2.13
sqlparse==0.5.1
srp-ext==1.0.7.1
sympy==1.13.3
tabulate==0.9.0
tailer==0.4.1
testing.common.database==2.0.3
thrift-sasl==0.4.3
thrift==0.21.0
thriftpy2==0.5.2
tornado==6.4.1
typing_extensions==4.12.2
tzlocal==5.2
urllib3==2.2.3
warrant-ext==0.6.2
websocket-client==1.8.0
websockets==13.1
Werkzeug==3.1.2
Whoosh==2.7.4
wrapt==1.16.0
wsproto==1.2.0
xmltodict==0.14.2
zope.interface==7.1.1
