# https://docs.gitlab.com/ee/user/project/codeowners/
# https://docs.gitlab.com/ee/user/project/codeowners/reference.html

# User IDS
# CICD: W128214 - David, W104184 - Kevin, W104279 - Mano, W103979 - Selin
# K2: W103993 - Arvin, W127197 - Damian, W128214 - David, W119082 - Deeppuk, W104262 - Jem
# ?: W104080 - Lucio, W127225 - Volkan B.
# /docs/*.md Do not Define as anyone can update docs

# EITHER
# Use CODEOWNERS and codify permissions 
# OR
# Use GL default roles (maintainer/developer/reporter/guest) to set users permissions
# Of which `developer` has permissions to approve changes group/project wide. SO group members should be `guest` or othere not developer/maintaner roles

[libs]
/libs/ @cicd/terraform/tools
